<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title> Taskly </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
     <a href="{{ url_for('home') }}">
            <button type ="button">Back</button>
    </a>
    <div class="container">
        <h1> M A T H E M A T I C S</h1>
        <p>2025</p>
   
    </div>

    <!--gbottom class for bottom half of webpage-->
    <div class="gbottom">

    <!--Below Content for the submit buttons and table display for IT-->
    <div class ="msubmit">
        <form method="Post" action="{{ url_for('mgrades') }}"> 
            
            <input type="text" id="student" name="Student" placeholder="Add Student" required><br>
            <input type="text" id="percentage" name="Percentage" placeholder="Percentage" required><br>
            <input type="submit" value="Submit" > 

        </form>
    </div>
    
    <br>

    <div class ="mtable">
    
        <table border="1">
        <tr>
       
            <th>Student</th>
            <th> Mathematics%</th>
      
        </tr>
        {% for stu in students %}
        <tr>
        
            <td>{{ stu.name }}</td>
            <td> {{ stu.Mathematics}} </td>
       
        </tr>
        {% else %}
        <tr>
            <td colspan="2">No tasks found.</td>
        </tr>
        {% endfor %}
        </table>
    </div>

    </div>




</body>
</html>